svg.custom .node circle {
	fill: #F3F3FF;
}

svg.custom .node text {
	font-size: 14px;
	fill: #222;
}

svg.custom .node {
	cursor: pointer;
}

svg.custom path.link {
	fill: none;
	stroke: #999;
	stroke-width: 1.5px;
}

.red-node {
    font-size: 14px;
	fill: #02997d;
    cursor: pointer;
}